<div class="flex p-5">
  <h1>Login</h1>
  <button color="warn" class="close-btn" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <form class="login-form" action="">
    <mat-form-field appearance="fill" class="width-100">
      <mat-label>Email address</mat-label>
      <input matInput placeholder="Ex. pat@example.com" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="width-100">
      <mat-label>Enter password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" type="submit">submit</button>
    &nbsp;
    <button mat-raised-button color="warn" >Close</button>
  </form>
</div>
