<mat-toolbar color="primary" class="navbar">
  <div>
    <span>Brand</span>
  </div>
  <div>
    <span class="nav-item"><a>Home</a> </span>
    <span class="nav-item"><a>About</a></span>
    <span class="nav-item"><a>Services</a> </span>
  </div>

  <div>
    <span class="nav-btn">
      <button color="primary" mat-mini-fab>
        <mat-icon>settings</mat-icon>
      </button>
    </span>
    <span class="nav-btn">
      <button style="background-color: rgb(175, 151, 202)" mat-raised-button>
        sign up
      </button>
    </span>
    <span class="nav-btn">
      <button style="background-color: rgb(175, 151, 202)" mat-raised-button>
        Login
      </button>
    </span>
  </div>
</mat-toolbar>
