mat-drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar {
  width: 15rem;
  background-image: linear-gradient(
    to top,
    rgb(142, 140, 140),
    rgb(88, 83, 83)
  );
}
.navbar {
  background-color: white;
  padding: 0px;
  background-image: linear-gradient(
    to left,
    rgb(142, 140, 140),
    rgb(88, 83, 83)
  );
}
