<div class="countainer-fluid page ">
    <div class="page-heading mt-3 p-2">FromEvent</div>
    <div class="page-body p-3 shadow">
        <div class="page-contant ">
           <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">Add video</div>
                    <div class="card-body"><button #addBtn class="btn btn-primary" >Add video</button></div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">Add video</div>
                    <div class="card-body">
                        <ul id="elContainer">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">Add video</div>
                    <div class="card-body">
                        <ul id="elContainer2">
                        </ul>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>