<div class="container p-5">
  <h2 mat-dialog-title>Signup Form</h2>
  <button color="warn" class="close-btn" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <div mat-dialog-content class="example-container">
    <mat-form-field appearance="fill" class="width-50">
      <mat-label>First Name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill" class="width-50 ml-2">
      <mat-label>Surname</mat-label>
      <input matInput />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="width-100">
      <mat-label>Email address</mat-label>
      <input matInput placeholder="Ex. pat@example.com" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="width-100">
      <mat-label>Enter password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <label id="example-radio-group-label">Gender: </label>
    <br /><br />
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="2"
        >Female</mat-radio-button
      >
      <mat-radio-button class="example-radio-button" value="3"
        >Custom</mat-radio-button
      >
    </mat-radio-group>
    <br /><br />
    <label id="example-radio-group-label">Date of birth: </label>
    <br /><br />
    <mat-form-field appearance="fill" class="width-25">
      <mat-label>Day</mat-label>
      <mat-select>
        <mat-option [value]="6"> 30 </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="width-25 ml-1">
      <mat-label>Month</mat-label>
      <mat-select>
        <mat-option [value]="6"> 01 </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="width-25 ml-1">
      <mat-label>Year</mat-label>
      <mat-select>
        <mat-option [value]="6"> 2000 </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="mt-3" align="end" >
    <button mat-raised-button color="primary" type="submit"> submit </button>
    &nbsp; 
    <button mat-raised-button color="warn" type="submit"> clear </button>
  </div>
  
</div>

