<div class="countainer-fluid page">
  <div class="page-heading mt-3 p-2">Component2</div>
  <div class="page-body p-3 shadow">
    <div class="page-contant">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 mt-2">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-subtitle> Component2</mat-card-subtitle>
                <mat-card-title>Hello</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row justify-content-center">
                  <div *ngIf="dataFound == true">
                    How are you {{ name }}
                  </div>
                  <mat-divider></mat-divider>
                </div>
              </mat-card-content>
              <mat-card-actions>
             
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
